:root, body{
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.main-container {
  width:75%;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 1px 1px 8px 1px #969696;
}

@media only screen
  and (max-device-width: 667px),
  (max-device-width: 736px),
  (max-device-width: 812px) {

  .main-container {
    width: 98%;
  }
  
}

.hide-scrollbar::-webkit-scrollbar {
  width: 2px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
}

.scrolling-table-container {
  height:75vh;
  overflow:scroll;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.scrolling-table.head {
  top:0;
  position:sticky;
  background-color:white;
}